*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
img{
  max-width: 100%;
}
body{
  padding: 20px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 768px){
  .grid{
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 640px){
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
}